<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li><a href="#">Yonetmenler</a></li>
      <li><a href="#">Filmler</a></li>
      <li><a href="#">Kullanicilar</a></li>
      <li><a href="#">Satın Alma işlemleri</a></li>
      <li><a href="#">Çıkış</a></li>
    </ul>
  </body>
</html>
