<ul class="admin_menu">
  <li><a href="/yonetici/yonetmenler/">Yonetmenler</a></li>
  <li><a href="/yonetici/oyuncular/">Oyuncular</a></li>
  <li><a href="/yonetici/filmler/">Filmler</a></li>
  <li><a href="/yonetici/kullanicilar/">Kullanicilar</a></li>
  <li><a href="/yonetici/satin_almalar/">Satın Almalar</a></li>
  <li><a href="<%= @siteurl %>/kullanicilar/cikis/">Çıkış Yap</a></li>
</ul>
