<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Kurulum Ekranı </h1>
    <form class="" action="/kurulum/kur/" method="post">
      <table>
        <tr>
          <td>Veritabanı Adı :</td>
          <td><input type="text" name="vtAdi" value="Filmx"></td>
        </tr>
        <tr>
          <td>Kullanıcı Adı :</td>
          <td><input type="text" name="kullaniciAdi" value="root"></td>
        </tr>
        <tr>
          <td>Parolası : </td>
          <td><input type="password" name="kullaniciParola" value="comolokko37"></td>
        </tr>
        <tr>
          <td>Veritabanı Sunucusu : </td>
          <td><input type="text" name="vtAdresi" value="localhost"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" name="olustur" value="Oluştur"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
