<%= erb :'temel/ust' %>
    <div class="kaydol">
      <h1>Giriş Yap</h1>
      <hr>
      <form action="/kullanicilar/giris/" method="post">
        <input type="text" name="kullanici_adi" value="" placeholder="Kullanıcı Adı"><br>
        <input type="password" name="parola" value="" placeholder="Parola"><br>
        <input type="submit" name="Gönder" value="Giriş Yap"><br>
      </form>
      <br>
      <a href="<%= @siteurl %>/kullanicilar/kayitol/">Kayıt Ol</a> |
      <a href="#">Parolamı Unuttum</a>
    </div>
<%= erb :'temel/alt' %>
